<div class = "registerStepTitle">完成注册</div>
<div class = 'registerInstruction'>

<div id = 'registerEmailContainer'>
	<div id = 'registerEmailInputLogo' class = 'registerInputLogo'></div>	

	<div id ＝ 'registerEmailInputTagContainer' class = 'registerInputTagContainer'>
		<input id = 'registerEmailInput' class = 'registerInput' placeholder="youraddress@email.com"/>
	</div>
</div>

<div id= 'registerSeparator' class = 'registerSeparator'></div>
<div id = 'registerPasswordContainer'>
	<div id = 'registerPasswordInputLogo' class = 'registerInputLogo'></div>	

	<div id ＝ 'registerPasswordInputTagContainer' class = 'registerInputTagContainer'>
		<input id = 'registerPasswordInput' type="password" class = 'registerInput'/>
	</div>
</div>
<div id = 'registerPasswordConfirmContainer'>
	<div id = 'registerPasswordConfirmInputLogo' class = 'registerInputLogo'></div>	

	<div id ＝ 'registerPasswordConfirmInputTagContainer' class = 'registerInputTagContainer'>
		<input id = 'registerPasswordConfirmInput' type="password" class = 'registerInput'/>
	</div>
</div>
</div>

<div class = 'registerNextStep'></div>
<div id = 'registerFloatNotice3' class = 'registerFloatNotice'>我同意服务条款！</div> 
<div class = 'registerPreviousStep'></div>