<div id = 'registerStepTitle2' class = "registerStepTitle">选择你的性别</div>
<div class = 'registerInstruction'>
	<div id = 'registerInputFemaleContainer' class = 'registerInputGenderContainer'>
		<div id = 'registerInputFemaleLogo' class = 'registerInputGenderLogo'></div>
		<div id = 'registerInputFemaleTitle' class = 'registerInputGenderTitle'>
			<span><b>我是女生</b></span>
			<div id = 'femalecheckmark'></div>
		</div>

	</div>
	<div id = 'registerInputMaleContainer' class = 'registerInputGenderContainer'>
		<div id = 'registerInputMaleLogo' class = 'registerInputGenderLogo'></div>
		<div id = 'registerInputMaleTitle' class = 'registerInputGenderTitle'>
			<span><b>我是男生</b></span>
			<div id = 'malecheckmark'></div>
		</div>

	</div>
</div>
<div class = 'registerNextStep'></div>
<div id = 'registerFloatNotice2' class = 'registerFloatNotice'>性别不可以更改喔</div> 
<div class = 'registerPreviousStep'></div>
