<div id='overlay'>
  <div class='editWindow genderEditWindow hidden'>
    <div class='editContentWrapper genderEditWindow'>
      <div class='editContent genderEditWindow'>
        <div id = 'editGender'>
          <div class='input_block'>
            <input type='radio' name='gender' value='male'/>男生
          </div>
          <div class='input_block'>
            <input type='radio' name='gender' value='female'/>女生
          </div>
          <div class='input_block'>
            <input type='radio' name='gender' value='other'/>无所谓
          </div>
        </div>
      </div>
    </div>
    <div class = 'editButtonWrapper'>
      <div class='editCancel button'>返回</div>
      <div class='editSave button'>保存修改</div>
    </div>
  </div>
</div>