<div id='overlay'>
  <div class='editWindow locationEditWindow hidden'>
    <div class='editContentWrapper locationEditWindow hidden'>
      <div class='editContent locationEditWindow'>
        <div id = 'editLocation'>
          <div class='input_block'>
            我的地区在 <input type='text' name='city'/>
          </div>
          <div class='input_block'>
            学校是 <input type='text' name='school'/>
          </div>
        </div>
      </div>
    </div>
    <div class = 'editButtonWrapper'>
      <div class='editCancel button'>返回</div>
      <div class='editSave button'>保存修改</div>
    </div>
  </div>
</div>