<div id='overlay'>
  <div class='editWindow timeDateEditWindow '>
    <div class='editContentWrapper timeDateEditWindow'>
      <div class='editContent timeDateEditWindow'>
        <div id = 'editTimeDate'>
          上课日期 <input type='text' name='date'/><br />
          上课时间 <input type='text' name='time'/><br />
          课堂持续 <input type='text' name='duration'/><br />
        </div>
      </div>
    </div>
    <div class = 'editButtonWrapper'>
      <div class='editCancel button'>返回</div>
      <div class='editSave button'>保存修改</div>
    </div>
  </div>
</div>