<div id="transactionDetail_container">
	<div id = "transaction_trip_info">
		<div id = 'transaction_departureInfo'>
			<div id = 'transaction_departureLocation'><%= departure_location %></div>
			<div id = 'transaction_departureLocation2'>Home</div>
			<% if (type !== 2)  { %>
				<div id = 'transaction_departureTime'>出发时间： <%= departure_time %>&nbsp;&nbsp;<% departure_timeSlot %></div>
				<div id = 'transaction_departureSeats'>剩余座位： <%= departure_seatsNumber%></div>
			<% } %>
		</div>
		<div id = 'transaction_returnInfo'>
			<div id = 'transaction_returnLocation'><%= arrival_location %></div>
			<div id = 'transaction_returnLocation2'>Home</div>
			<% if (type !== 1)  { %>
				<div id = 'transaction_returnTime'>返回时间： <%= arrival_time %>&nbsp;&nbsp;<%= arrival_timeSlot %></div>
				<div id = 'transaction_returnSeats'>剩余座位：  <%= arrival_seatsNumber %></div>
			<% } %>
			
		</div>
		<div id="transaction_priceList">
			 <% for ( var priceCount = 0; priceCount < departure_priceList.length; priceCount++ ){ %>
			 	<% if (departure_priceList[priceCount]> 0 ){ %>
			 		<div class="transaction_priceEntry"><%- priceCount+1 %>人: <%- departure_priceList[priceCount] %>元</div>
			 	<% } %>	
			 <% } %>
		</div>
		<div id="transaction_note">
			<%= message %>
		</div>
	</div>
	<div id="triptypeselection">
		<div id="transaction_state" class="transactionState<%= state %>"><%= stateText %></div>
		<% if (type !== 2 && departure_seatsNumber > 0)  { %>
			<div id = 'transaction_go' class='button'>去<%= arrival_location.split(",")[0] %></div>
		<% } %> 
		<% if (type !== 1 && arrival_seatsNumber > 0 ) { %>
			<div id = 'transaction_back' class='button'>回<%= departure_location.split(",")[0] %></div>
		<% } %>
		<div id="transaction_input">
		人数: <input type="number" id="transaction_number"/>
		</div>
		<div id="transaction_totalPrice"></div>
	</div>
	<div id="transaction_map"></div>
	<div id="transaction_user"></div>

	<textarea id="transaction_userNote">还有什么想说的?</textarea>
	<div id="transaction_control">
	    <div id = "closeButton" class="button">关闭</div>
		<div id = "reportButton" class="button">举报</div>
		<div id = "evaluateButton" class="button">评分</div>
		<div id = "startButton" class="button">订位</div>
    </div>
</div>
<% if ( state === 3 ) { %>
<div id = "evaluation_container" display="none">
	<div class = 'label'>评分</div>
	<select id="score_selection">
	  <option value="5">5分</option>
	  <option value="4">4分</option>
	  <option value="3">3分</option>
	  <option value="2">2分</option>
	  <option value="1">1分</option>
	</select>
	<div id="confirm_score" class='button'>确认</div>
</div>
<%}%>
