
#registerContainer{
  width:800px;
  height:530px;
  border-style: solid;
  border-color: rgb(157, 157, 157);
  border-width: 1px;
  background-color: rgb(242, 242, 242);
  margin-left:50%;
  left:-400px;
  top:100px;
  position:relative;
}

.registerContainer_step1{
  background-image: url('../../../res/registerPage/house.png');
  background-position: left top;
  background-repeat: no-repeat;
}
.registerContainer_step2{
  background-image: url('../../../res/registerPage/step2.png');
  background-position: left top;
  background-repeat: no-repeat;
}

.registerContainer_step3{
  background-image: url('../../../res/registerPage/step3.png');
  background-position: left top;
  background-repeat: no-repeat;
}


.registerInstruction {
  position: relative;
  width: 700px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top:120px;
}

/* step info: background image */

.registerStepTitle {
  width:500px;
  height:80px;
  position: relative;
  font-family: "Adobe Heiti Std";
  color: rgb(103, 103, 103);
  font-size: 45pt;
  margin-top: 30px;
  margin-left:20px;
  float:left;
}

/* forms */
/* email */
#registerEmailContainer, #registerPasswordContainer, #registerPasswordConfirmContainer{
  position: relative;
  width: 550px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

}

.registerInputLogo {
  width: 44px;
  height: 50px;
  float: left;
  margin-right: 35px;
}

#registerEmailInputLogo {
  background-image:  url('../../../res/registerPage/email.png');
  background-repeat: no-repeat;
}

#registerEmailInputTagContainer {

}

.registerInput {
  width: 450px;
  height: 45px;
  font-size:28px;
  padding-left:10px;
}

/* separator */
.registerSeparator {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 120px;
  width: 61%;
  border-bottom: thin solid rgb(103, 103, 103);  
}

/* password */
#registerPasswordInputLogo {
  background-image:  url('../../../res/registerPage/lock.png');
  background-repeat: no-repeat;
}

#registerPasswordConfirmContainer {
  margin-top: 10px;
}

/* notice */
#registerFloatNotice3 {

}

.registerFloatNotice {
  padding-top: 5px;
  color: rgb(229, 229, 229);
  padding-left: 5px;
  font-weight: bold;
  position: relative;
  background-image: url('../../../res/registerPage/note.png');
  background-repeat: no-repeat;
  width: 189px;
  height: 28px;
  float: right;
  margin-top: 90px;
}

/* confirm */
.registerFinish {
  background-image: url('../../../res/registerPage/confirm.png');
  background-repeat: no-repeat;
  width: 155px;
  height: 155px;
  margin-left: auto;
  margin-top:2px;

  margin-right: 30px;
  margin-bottom: 30px;
  float:right;
}
.registerNextStep {
  background-image: url('../../../res/registerPage/next.jpg');
  background-repeat: no-repeat;
  width: 157px;
  height: 155px;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 30px;
  float:right;
}
.registerPreviousStep {
  background-image: url('../../../res/registerPage/next.jpg');
  background-repeat: no-repeat;
  width: 157px;
  height: 155px;
  background-size: 50%;
  margin-left: auto;
  margin-right: -180px;
  margin-bottom: 30px;
  float:right;
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
}
.registerInputContainer{
    margin-top:100px;
}
.register_Label{
  width:auto;
  float:left;
}

#registerLocationContainer{
  float:left;
  margin-top:100px;
  margin-left:180px;
}
#registerLocationInput
{
  font-size:30px;
  border: 1px solid #cfcfcf;
  box-shadow: inset 5px 5px 9px -6px #ABABAB;
  -webkit-box-shadow: inset 5px 5px 9px -6px #ABABAB;
  -moz-box-shadow: inset 5px 5px 9px -6px #ABABAB;
  -o-box-shadow: inset 5px 5px 9px -6px #ABABAB;
}


#registerInputFemaleContainer {
  position: relative;
  width: 230px;
  height: 230px;
  margin-left:100px;
  float:left;
}

#registerInputFemaleLogo{
  background-image: url('../../../res/registerPage/girl.jpg');
  background-repeat: no-repeat;
  position:relative;
  width: 230px;
  height: 230px;
}
#registerInputFemaleTitle, #registerInputMaleTitle{
position:relative;
top:-130px;
left:100px;
color:grey;
font-size:20px
}

#registerInputMaleLogo{
  background-image: url('../../../res/registerPage/boy.jpg');
  background-repeat: no-repeat;
  position:relative;
  width: 230px;
  height: 230px;
}

#registerInputMaleContainer{
  position: relative;
  width: 230px;
  height: 230px;

  float:left;
}

#registerYourEmail{
  color: rgb(66,172,38);

}
.registerCheckEmail{
  top:50px;
  position:relative;
  margin-left:70px;
  margin-right:70px;
  line-height: 38px;
  font-size:30px;
}
#register-modal-closeButton {
  background-image: url("../../../res/datePicker/close.png");
  height: 34px;
  width: 34px;
  float: right;
  margin-right:5px;
  margin-top:5px;
  z-index:1000;
  position:relative;
}

#registerContent{
  float:left;
  width:800px;
  margin-top:-34px;
  z-index:-1;
}

#femalecheckmark, #malecheckmark {
  background-image: url("../../../res/registerPage/checkmark.png");
  background-repeat: no-repeat;
  width:100px;
  height:100px;
  z-index:1999;
  background-size: 80%;
  margin-left:40px;
  margin-top:40px;
  display:none;
}