<div class='dropdownContent' data-userId='<%= userId %>'>
  <div class='dropdown-img'>
    <img src='<%= imgPath %>'/>
  </div>
  <div class='dropdown-text dropdown-favorite-text'>
    <div class='dropdown-favorite-text-wrapper'>
      <div class='dropdown-text-row1'>
        <span class='dropdown-text-name'><%= name %></span>
        <span class='dropdown-text-gender'><img src='res/dropdown/gender-<%= gender %>.png' /></span>
      </div>
      <div class='dropdown-text-row2'>
        <span><%= location %></span>
      </div>
    </div>
    <div class='dropdown-text-avgScore'>
      <span><%= averageScore %></span>
    <div>
  </div>
</div>