<div class='dropdownContent notification-dropdown-read-<%= state %>' id='notification-dropdown-<%= notificationId %>' data-notificationId='<%= notificationId %>'>
    <div class='dropdown-img' data-initUserId='<%= initUserId %>'>
		<img src='<%= imgPath %>'/>
    </div>
    <div class='dropdown-text dropdown-notification-text'>
		<div class='dropdown-text-row1'>
			<span class='dropdown-text-name'><%= initUserName %></span>
			<span><%= notificationText %></span>
		</div>
		<div class='dropdown-text-row2'>
			<span><%= creationTime %></span>
		</div>
    </div>
</div>