<div id='profilePage_messageTabContent'>
	<div id='profilePage_messagePublished'>
	<div class='profilePage_header'>我发布的消息</div>
	<div id='profilePage_messagePublishedContent'>
	  <div id='profilePage_activeMessagePublished'></div>
	  <div id='profilePage_moreActiveMessagePublished'>更多进行中信息</div>
	  <div id='profilePage_finishedMessagePublished'></div>
	</div>
	</div>
	<div id='profilePage_messageParticipated'>
	<div class='profilePage_header'>我参与的信息</div>
	<div id='profilePage_messageParticipatedContent'>
	  <div id='profilePage_activeMessageParticipated'></div>
	  <div id='profilePage_moreActiveMessageParticipated'>更多未完成信息</div>
	  <div id='profilePage_finishedMessageParticipated'></div>
	</div>
	</div>
</div>