<div id='profilePage_eventBox_<%= messageId %>' class = 'profilePage_eventBox'>
    <div id = 'profilePage_profilePicture_<%= messageId %>' class = 'profilePage_profilePicture'></div>
    <div id = 'profilePage_containerInfo_<%= messageId %>' class = 'profilePage_containerInfo'>
    <div class = 'profilePage_departure'><%= departure_location %></div>
    <div class = 'profilePage_arrival'><%= arrival_location %></div>
    <div class = 'profilePage_date'><%= departure_time %></div>
    <div class = 'profilePage_time'><%= departure_timeSlot %></div>
    <div id = 'profilePage_boxContentPrice_<%= messageId %>' class='profilePage_containerPrice'>
        <div class = 'profilePage_priceUnit'>￥</div>
        <div class = 'profilePage_price'><%= currentPrice %></div>
    </div>
    </div>
    <div id = 'profilePage_boxContentFollow_<%= messageId %>' class = 'profilePage_containerFollow'>
        <div class = 'profilePage_follow'>关 注</div>  
        <div class = 'profilePage_followNumber'>78</div>
    </div>
</div>