<div id='personal_transactionHistory_<%= transactionId %>' class = 'personal_transactionHistory_message'>
    <div id = 'personal_transactionHistory_state_<%= transactionId %>' class = 'personal_transactionHistory_state transactionState<%= state %>'><%= stateText %></div>
    <div id = 'personal_transactionHistory_containerInfo_<%= transactionId %>' class= 
    'personal_transactionHistory_containerInfo'>
    	<%= departure_time %> <%=departure_timeSlot %> 从<%= departure_location %>到<%= arrival_location %>
    </div>
</div>

