<div id='profilePage_eventBox_<%= messageId %>' class = 'profilePage_eventBox'>
    <div id = 'profilePage_profilePicture_<%= messageId %>' class = 'profilePage_profilePicture'></div>
    <div id = 'profilePage_containerInfo_<%= messageId %>' class = 'profilePage_containerInfo'>
      <div class = 'profilePage_schoolName'><%= location.university %></div>  
      <div class = 'profilePage_date'><%= simple_date %></div>
      <div class = 'profilePage_time'><%= simple_timeRange %></div>
      <div id = 'profilePage_boxContentPrice_<%= messageId %>' class='profilePage_containerPrice'>
        <div class = 'profilePage_priceUnit'>￥</div>
        <div class = 'profilePage_price'><%= price %></div>
      </div>
    </div>
</div>