<div id = 'view_panel_left'>
  <div id = 'view_event_info_left'>
    <div id = 'view_event_info_tbar'>
      <div id = 'departureInfo'>
        <div id = 'departureLocation'><%= origin %></div>
        <div id = 'departureLocation2'></div>
        <div id = 'departureTime'>出发时间： <%= departureTime %></div>
        <div id = 'departureSeats'>剩余座位： <%= departureSeats %></div>
      </div>
      <div id = 'directionArrow'></div>
      <div id = 'returnInfo'>
        <div id = 'returnLocation'><%= dest %></div>
        <div id = 'returnLocation2'></div>
        <div id = 'returnTime'>返回时间： <%= returnTime %></div>
        <div id = 'returnSeats'>剩余座位： <%= returnSeats %></div>
      </div>
      <div id = 'note'><%= note %></div>
    </div>
    <div id='view_map'></div>
    <div id='view_event_info_bbar'>
      <div id='view_publishTime'><%= creationTime %></div>
      <div id='view_social'>
        <div class='weibo_icon_small'></div>
        <div class='renren_icon_small'></div>
        <div class='qq_icon_small'></div>
        <div class='douban_icon_small'></div>
      </div>
    </div>
  </div>
</div>
<div id = 'view_panel_right'>
  <div id = 'view_event_info_right'>
    <div id = 'view_event_info_right_container'>
      <div id = 'view_book_option'>
        <div>座位<input type = 'number' id = 'chooseSeatNumber' min="1"/></div>
        <div id = 'directionSelection'>
          <div id = "go" class="button">去</div><div id = "back" class="button">回</div>
        </div>
        <div id = 'price_total'>元</div>
      </div>
      <div id = 'view_book' class='button'>
        预 定
      </div>
      <div id = 'pricelist' >
        
      </div>
      <div class = 'view_edit_inline'>修改</div>
    </div>
  </div>
  <div id = 'view_userInfo'>
    <a href = ""><div id='view_profilePicture'></div></a>
    <div id = 'view_profile_right'>
      <div id='view_account'>
        <div id = 'view_account_name'>乔帮主</div>
      </div>
      <div id='view_profileOverview'>
        <div id='view_accountScore' class = 'view_profileOverviewBlock'>
          <div id='view_accountScoreLabel'>平均分</div>
          <div id='view_accountScoreHolder'>
            <div id='view_accountScoreValue' class = "dashboard_text">100
            <span class='view_unit1'>%</span>
            </div>
          </div>
        </div>
        <div class='verticalSpacer'></div>
        <div id='view_tradeCount' class = 'view_profileOverviewBlock'>
          <div id='view_accountTradeCountLabel'>交易次数</div>
          <div id='view_accountTradeCountValue' class = "dashboard_text">120</div>
        </div>
      </div>
    </div>  
  </div>
  <div id = 'view_transactions'>
    <div id = 'view_transactions_header'>
      <div id = 'view_transactions_button'></div>
      <div id = 'view_transactions_title'>这条信息已经被<span id = 'reservation_count'> <%= transactionCount %> </span>人预定了</div>
    </div>
    <div id = 'view_transactions_content' style="display: none;">
    </div>
  </div>
</div>