  <form id='publish_info'>

    <div class = 'publish_header'>其他信息</div>
    <div id = 'publish_description'>
    <textarea id='publish_description_input'></textarea>
    </div>

    <div id = 'publish_seat_container'>
    <div class = 'publish_label' style = "margin-top:5px;">座位</div>
    <input id = 'seats' value = '1' type = 'text' pattern="[0-9]*"/>
    </div>
    <div id = 'publish_pricelist_container'>
    <div id = 'conditionalPriceSwitch' class='button'>按人数收费</div>
    <div class = 'publish_header'>价格表</div>
    <div id = 'publish_singlePrice'>
      <input id = 'seats_1' type = 'text' class='seat_price' pattern="[0-9]*" />/1人
     </div>
    <div id = 'publish_priceList' visible = "none">
      <div class = 'publish_priceEntry'>
          人数 <input id = 'seatsNumber_1' type = 'text' class='seat_price' attern='[0-9]*' />
          每人<input id = 'seats_1' type = 'text' class='seat_price' pattern='[0-9]*' />元
      </div>
      <div id = 'priceList_add'></div>
      <div id = 'priceList_minus'></div>
    </div>
    
    </div>
   <div id = 'publish_back' class='button'>
      返回修改
    </div>
    <div id = 'publish_finish' class='button'>
      发布
    </div>
  </form>