<form id='publish_info'>
	<div id='publish_type'>
		<div class = 'publish_label'>我要</div>
		<div class = 'selectBox selectBox_selected' id = 'publish_1' >
			<div id='publish_help_img'></div>
			<div id='publish_help_text' class='button'>
				开车
			</div>
		</div>
	<div class = 'selectBox' id = 'publish_0' >
		<div id='publish_ask_img'></div>
		<div id='publish_ask_text'  class='button'>
			找车
		</div>
	</div>
	<!-- I suggest that we highlight the border instead of using radio button -->
	</div>

	<div id='publish_origin'>
		<div class='publish_label'>出发地</div>
		<input type='text' id='publish_originInput'/>
	</div>
	<div id='publish_dest'>
		<div class='publish_label'>目的地</div>
		<input type='text' id='publish_destInput'/>
		<div id='publish_tip'>yoke</div>
	</div>	      
	<div id='publish_nextStep' class='button'>下一步</div>
</form>
