<div id='publish_time_<%= id %>' class='publish_time_box'>
  <div id='publish_time_header_<%= id %>' class='publish_time_header'>行程<%= id %></div>
  <div class='publish_time_info'>
    <div class='publish_time'>
      <div class='publish_label'>出发时间</div>
      <input type='text' name='publish_departDate_<%= id %>' class='input_date'/>
      <select name='depart_time_<%= id %>'>
        <option value="0">随意</option>
        <option value="1">上午7-12点</option>
        <option value="2">下午1-5点</option>
        <option value="3">晚上6-次日凌晨</option>
        <option value="4">凌晨1点</option>
        <option value="5">凌晨2点</option>
        <option value="6">凌晨3点</option>
        <option value="7">凌晨4点</option>
        <option value="8">早上5点</option>
        <option value="9">早上6点</option>
        <option value="10">早上7点</option>
        <option value="11">早上8点</option>
        <option value="12">早上9点</option>
        <option value="13">早上10点</option>
        <option value="14">早上11点</option>
        <option value="15">中午12点</option>
        <option value="16">下午1点</option>
        <option value="17">下午2点</option>
        <option value="18">下午3点</option>
        <option value="19">下午4点</option>
        <option value="20">傍晚5点</option>
        <option value="21">傍晚6点</option>
        <option value="22">晚上7点</option>
        <option value="23">晚上8点</option>
        <option value="24">晚上9点</option>
        <option value="25">晚上10点</option>
        <option value="26">晚上11点</option>
        <option value="27">晚上12点</option>
      </select>
    </div>
    <div class='publish_time'>
      <div class='publish_label'>返回时间</div>
      <input type='text' name='publish_returnDate_<%= id %>' class='input_date'/>
      <select name='return_time_<%= id %>'>
        <option value="0">随意</option>
        <option value="1">上午7-12点</option>
        <option value="2">下午1-5点</option>
        <option value="3">晚上6-次日凌晨</option>
        <option value="4">凌晨1点</option>
        <option value="5">凌晨2点</option>
        <option value="6">凌晨3点</option>
        <option value="7">凌晨4点</option>
        <option value="8">早上5点</option>
        <option value="9">早上6点</option>
        <option value="10">早上7点</option>
        <option value="11">早上8点</option>
        <option value="12">早上9点</option>
        <option value="13">早上10点</option>
        <option value="14">早上11点</option>
        <option value="15">中午12点</option>
        <option value="16">下午1点</option>
        <option value="17">下午2点</option>
        <option value="18">下午3点</option>
        <option value="19">下午4点</option>
        <option value="20">傍晚5点</option>
        <option value="21">傍晚6点</option>
        <option value="22">晚上7点</option>
        <option value="23">晚上8点</option>
        <option value="24">晚上9点</option>
        <option value="25">晚上10点</option>
        <option value="26">晚上11点</option>
        <option value="27">晚上12点</option>
      </select>
      <input type='checkbox' name='publish_round_<%= id %>' class='input_checkbox' value='round' checked='true'/>
    </div>
    <div id='publish_delete_<%= id %>' class='publish_delete button'>
      删除
    </div>
  </div>
</div>