<div id = 'searchResultBox_<%= messageId %>' class = 'searchResultBoxContainer'>
  <div id = 'profilePicture_<%= messageId %>' class = 'searchResultProfilePicture'></div>
  <div id = 'searchResultContainerInfo_<%= messageId %>' class = 'searchResultContainerInfo'>
    <div class = 'fromInfo'>
      <div class='label' style="font-weight:bold; float:none; !important ">出发</div>
      <div class = 'searchResultOriginProvince'><%= departure_location.toJSON().province %></div>  
      <div class = 'searchResultOriginCity'><%= departure_location.toJSON().city %></div>
      <div class = 'searchResultDepartDate'><%= simple_departure_time %></div>
      <div class = 'searchResultDepartTime'><%= departure_timeSlot %></div>
      <div class = 'searchResultDepartSeat'>剩余 <%= departure_seatsNumber - departure_seatsBooked %> 座</div>
    </div>
    <% if (isRoundTrip === false)  { %>
    <div class = 'oneDirectionArrow'></div>
    <% } else { %>
    <div class = 'twoDirectionArrow'></div>
    <% } %>
    <div class = 'toInfo'>
      <div class='label' style="font-weight:bold;float:none; !important">到达</div>
      <div class = 'searchResultDestProvince'><%= arrival_location.toJSON().province %></div>  
      <div class = 'searchResultDestCity'><%= arrival_location.toJSON().city %></div>
      <% if (isRoundTrip === true)  { %>
        <div class = 'searchResultReturnDate'><%= simple_arrival_time %></div>
        <div class = 'searchResultReturnTime'><%= departure_timeSlot %></div>
        <div class = 'searchResultReturnSeat'>剩余 <%= arrival_seatsNumber - arrival_seatsBooked %> 座</div>
      <% } %>
    </div>

    <div class = 'searchResultUserName'><%= owner %></div>
  </div>
  <div id = 'searchResultContainerPrice_<%= messageId %>' class='searchResultContainerPrice'>
    <div class = 'searchResultPriceLogo'>￥ <%= currentPrice %>
    </div>
  </div>
  <div class = 'searchResultPublishTime'>发布于<%= simple_creationTime %></div>
</div>

