<div id = 'quickStart'>
  <div id = 'quickStart_city' class='quickStart_box'>
  <div class = 'quickStart_value'></div>
  <div class = 'quickStart_description'>
  点名网已帮<span id = 'quickStart_cityInDescription'></span> <span id = 'quickStart_numInCity'>3028</span>人点名
  </div>
  </div>
  <div id = 'quickStart_school' class='quickStart_box'>
  <div class = 'quickStart_value'></div>
  <div class = 'quickStart_description'>
  在<span id = 'quickStart_schoolInDescription'></span>为您找到了一共<span id = 'quickStart_numInSchool'>557</span>条点名信息
  </div>
  </div>
  <div id = 'quickStart_day' class='quickStart_box'>
  <div class = 'quickStart_value'></div>
  <div class = 'quickStart_description'>
  <span id = 'quickStart_selectedDate'>
  </span>是
  <div id = 'quickStart_selectedDateDescription'>
  
  </div>
  <input id = 'quickStart_dateinput'> </input>
  </div>
  </div>
</div>
<div id = 'quickStart_resultPanel' class = 'searchResultDisplay'>

</div>
<div id = 'quickStart_go'>
  <div id = 'quickStartButton1' class='quickStartButton button'>我要帮人点名</div>
  <div id = 'quickStartButton2' class='quickStartButton button'>我要找人帮我</div>
  <div id = 'homeAdvertisement'></div>
</div>