<div id='searchEventTab'>
  <div id = 'searchbox' class = 'searchContainer'>
    <div id="inputFields">
    <input type="text" id = 'searchLocationInput_from' class = 'searchInput' />
    <input type="text" id = 'searchLocationInput_to' class = 'searchInput' />
    <input type="text" id = 'searchDateInput_depart' class = 'searchInput' />
    <input type="text" id = 'searchDateInput_return' class = 'searchInput' />
    </div>
    <div id = 'searchTypeContainer'>
      <div id="oneWay">One Way</div>
      <div id="round">Round Trip</div>
    </div>
    <div id = 'searchResultDoneContainer'>
      <div id = 'searchResultButton' class = 'searchResultButton button'>Find Trips</div>
    </div>
      
    </div>
      <div id = 'searchResultDisplayPanel' class = 'searchResultDisplay'>
    <!-- home to the searchResultView on mainPage-->
  </div>
  <div id = 'pageNavigator'><input type='number'></input><button>GO</button><div id ='pages'></div></div>
    <div id = 'filterBox' class = 'searchContainer'>
          <div id = 'searchFilterTimeContainer'>
            <div id = 'filterInputTimeLabel' class = 'searchInputLabel'>TIME</div>  

            <div id = 'filterInputTimeTagContainer' class = 'searchInputTagContainer'>
              <ul id = 'timeSelections'>
                <li id = 'timeSelectionMorning' data-id='morning' class='selected timeList button'>Morning</li>
                <li id = 'timeSelectionAfternoon' data-id='afternoon' class='notSelected timeList button'>Afternoon</li>
                <li id = 'timeSelectionNight' data-id='night' class='notSelected timeList button'>Night</li>
                <!-- need to add tooltip text here with js -->
              </ul>
            </div>
          </div>

          <div id = 'searchFilterPriceContainer'>
            <div id = 'filterInputPriceLabel' class = 'searchInputLabel'>Price</div> 
          </div>

          <div id = 'searchResultRefreshContainer'>
            <div id = 'refreshButton' class = 'searchResultButton button'>Apply</div>
          </div>
    </div>
</div>
