/*即时对话框*/
.chat_box { position:fixed; right:0; bottom:0; width:518px; height:423px;  font-size:12px; z-index:9999; pointer-events:none;}
.chat_box .chat_left { float:left; width:345px; height:423px; border-right:1px solid #b5b5b5; background:#fff; box-shadow: 0 0 5px #222; pointer-events: all;}
.chat_box .chat_box_title { height:32px; line-height:32px; background:#333333; padding-left:15px; color:#fff; cursor:pointer;}
.chat_box .chat_box_title .close { float:right; width:10px; height:24px; background:url(../images/chat_box.png) no-repeat 0 -97px; margin:0 20px 0 10px; text-indent:-32768px; }
.chat_box .chat_box_title .min { float:right; width:10px; height:24px; background:url(../images/chat_box.png) no-repeat 0 -75px; margin:0 10px 0 10px; text-indent:-32768px; }

.chat_left .chat_box_body { position:relative; padding:10px 15px; height:289px; height:280px\9; background:#fff; overflow:auto;}
.chat_list li { clear:both; }
.chat_list li .date { color:#888; margin:5px 0 10px;}
.chat_list li dl { overflow:hidden; }
.chat_list li dd{ position: relative; /*min-width:72px;*/ max-width:230px; max-height:202px; padding: 5px 9px; border-radius: 5px; box-shadow: inset -1px 1px 1px rgba(255, 255, 255, .75); color:#000;}
.chat_list li.me dd { float:left; background: #f3f3f3; border: solid 1px #eaeaea;}
.chat_list li.other dd {float:right; background: #ebfbe3; border: solid 1px #dff0d8;}
.chat_list li dd .arrow { display:inline-block; width: 8px; height: 12px; position: absolute; top: 8px; background:url(../images/chat_box.png) no-repeat; }
.chat_list li.me { float:left; }
.chat_list li.me dt { float:left; margin-right:15px; }
.chat_list li.me .arrow { left:-7px; background-position: 0 -173px; }
.chat_list li.me dt { float:left; margin-right:15px; }
.chat_list li.other { float:right; }
.chat_list li.other dt { float:right; margin-left:15px; }
.chat_list li.other .arrow { right:-7px; background-position:-2px -158px; }
.chat_textarea { width:345px; border-top:1px solid #d4d4d4; height: 48px;}
.chat_textarea textarea { padding:5px; width:335px; width:335px\9;  height:38px; overflow:hidden; border:none; text-align:left; color:#333; font-size:14px; font-family:微软雅黑; }
.chat_btn { border-top:1px solid #d4d4d4; }
.chat_btn input { width:100%; height:32px; background:url(../images/chat_box.png) repeat-x; border:none; cursor:pointer; color:#fff; }
.failed_to_send{ clear:both; width:150px; height:22px; margin:20px auto; background:url(../images/chat_box.png) no-repeat 0 -50px; text-align:center; line-height:22px;}

.chat_box .chat_right { float:right; width:172px; height:423px; background:#fff; pointer-events: all;}
.chat_right .chat_box_title .fleft { padding-left:25px; background:url(../images/chat_box.png) no-repeat 0 -123px; }
.chat_right_content { position:relative; height:391px; }
.chat_right_content_scroll { position:relative; height:392px; overflow:hidden; }
.chat_right_content ul { height:392px; overflow-y: scroll;}
.chat_right_content ul li { height:30px; line-height:30px; padding:10px 15px; }
.chat_right_content ul li:hover { background:#e9f3f7; }
.chat_right_content ul li img { float:left; overflow:hidden; margin-right:10px; }
.chat_right_content .arrow_up { position:absolute; top:2px; left:3px; width:165px; height:7px; background:url(../images/chat_box.png) no-repeat 0 -32px; cursor:pointer; }
.chat_right_content .arrow_down { position:absolute; bottom:2px; left:3px; width:165px; height:7px; background:url(../images/chat_box.png) no-repeat 0 -40px; cursor:pointer; }
