@charset "utf-8";
/* CSS Document */
.footer {
	width:100%;
	height:80px;
	background:#333;
	color:#fff;
	font-size:14px;
}
.footer_inner {
	width:1000px;
	margin:0 auto;
}
.footer a, .footer a:visited {
	color:#fff;
	margin-right:40px;
}
.footer-upperContent {
	padding-top:18px;
	margin-bottom:8px;
}
