@charset "utf-8";
/* Pinche.com */
/* date:20131219 */
/* author:djxiaoniud@163.com */

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
	margin:0;
}
input[type="text"] {
	padding:0px;
}
ol, ul {
	margin:0;
	padding:0;
}
img {
	border:none;
}
ul {
	list-style:none;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
.clear {
	clear:both;
}
.blank {
	margin-top:10px;
}
.blank1 {
	margin-top:15px;
}
.F_red {
	color:#ff0000;
}
.F_green {
	color:#3aae36;
}
a, a:visited {
	color:#909090;
	text-decoration: none;
}
a:hover {
	color:#362e2b;
	text-decoration:underline;
}
a.F_blue, a.F_blue:visited {
	color:#0041d9;
}
a.F_green, a.F_green:visited {
	color:#3aae36;
}
body {
	font-family:'微软雅黑', '黑体', '宋体';
	src:url(fonts/MSYH.TTF);
}
