/*----------  universal style   ----------*/
html, body{
  width: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
  /*base font-size*/
  font-size: 14px;
  font: Arial,Helvetica,sans-serif;
}

@font-face {
  font-family:  sans-serif;
  color:rgb(88,88,88);
  /* no unicode-range; default to all characters */
}

body *{
  margin:0;
  padding:0;
  position:relative;

}

li {
  list-style:none;
  display:inline;
}

input {
  width:180px;
  height: 26px;
  border: 1px solid #ddd;
  margin-bottom:1px;
  padding-left:5px;
}

input[type=radio]{
  width:20px;
}

textarea{
  resize: none;
}

h3 {

display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.button{
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display:none;
}
/*----------  main style   ----------*/
#main {
  padding-top:50px;
  margin-left:auto;
  margin-right:auto;
  width: 950px;
  height: 800px;
}

#content{
  width:950px;
  height:710px;
  float:left;
}

.content_fullwidth{
  width:100% !important;
}

.label {
  margin-left: 5px;
  padding-right:10px;
  width:50px;
  height:26px;
  font-size: 12px;
  color: #585858;
  float: left;
  text-align: right;
  vertical-align: top;
  line-height: 28px;
  white-space: nowrap;
}

.attributeValue {
  height:20px;
  padding-top:8px;
}

.mask{
  background-color: rgba(0, 0, 0, 0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
    width:100%;
    height:100%;
}

.editWindow {
  width: 350px;
  height: 180px;
  top:100px;
  left: auto;
  right: auto;
  position:absolute;
  background-color: rgba(255,255,255,0.77);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C4000000,endColorstr=#C4000000); 
  opacity:1;
  border-radius: 5px;
  box-shadow: 0 0 30px #000000;
  left:50%;
  margin-left: -175px;
}
.editContentWrapper{
  position:relative;
  width:100%;
  height:110px;
  top:15px;
}
.editContent{
  position:absolute;
  width:320px;
  border:1px solid #000000;
  height: 100%;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 15px;
  border-radius:10px;
  background-color: #ffffff;
  box-shadow: inset 0 0 10px #000000;
}
.editButtonWrapper{
  height: 25px;
  width:100%;
  position:relative;
  margin-top:30px;
}

.editCancel{
  background: #58ab7f; /* Old browsers */
  background: -moz-linear-gradient(top,  #e1e1e1 0%, #b6b6b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#b6b6b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e1e1e1 0%, #b6b6b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e1e1e1 0%, #b6b6b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e1e1e1 0%, #b6b6b6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e1e1e1 0%, #b6b6b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
  width:47px;
  height:25px;
  border:1px solid #000000;
  text-align: center;
  letter-spacing: 3px;
  padding-left: 3px;
  margin-left:14px;
  float:left;
  position:relative;
  line-height: 2;
}
.editSave{
  background: rgb(74,172,120);
  color: #ffffff;
  width:100px;
  height:25px;
  position:relative;
  margin-right: 14px;
  border:1px solid #000000;
  text-align: center;
  letter-spacing: 3px;
  padding-left: 3px;
  float:right;
  line-height: 2;
}

#popup{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,0.7);
}

#overlay{
  position:absolute;
  display: none;
  top:0;
  bottom:0;
  float:left;
  width:100%;
  z-index: 1999;

}
.validator{
  float:right;
  background-image:url("../../res/wrong.png");
  width:16px;
  height:16px;
  background-size:100%;
  background-repeat: no-repeat;
}

.validator_message {
  position:absolute;
  display:none;
  width:32px;
  height:32px;
  opacity:0.8;
  font-size:0.8em;
  height:15px;
  width:125px;
  background-color:red;
  top:20px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 5px;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: #dddddd;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

.markerButton{
  margin-left:20px;
  margin-right:20px;
  color: #0000ff;
}