@charset "utf-8";
/* Pinche.com */
/* date:20131219 */
/* author:djxiaoniud@163.com */

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
	margin:0;
}
input[type="text"] {
	padding:0px;
}
ol, ul {
	margin:0;
	padding:0;
}
img {
	border:none;
}
ul {
	list-style:none;
}
textarea {
	resize:none;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
.clear {
	clear:both;
}
.blank {
	margin-top:10px;
}
.blank1 {
	margin-top:15px;
}
.blank2 {
	margin-top:30px;
}
.F_red {
	color:#ff0000;
}
.F_orange {
	color:#ff5500;
}
.F_green {
	color:#3aae36;
}
.F_16 {
	font-size:16px;
}
.F_18 {
	font-size:18px;
}
body {
	font-family:'微软雅黑', '黑体', '宋体';
	font-size:14px;
}
a, a:visited {
	color:#909090;
	text-decoration: none;
}
a:hover {
	color:#362e2b;
	text-decoration:underline;
}
a.F_blue, a.F_blue:visited {
	color:#57b7e1;
}
a.F_green, a.F_green:visited {
	color:#3aae36;
}
input {
	font-family:'微软雅黑';
}
/*按钮*/
.btn_b {
	width:120px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#fff;
	font-size:14px;
	background:url(../images/btns.png) no-repeat 0 -346px;
	cursor:pointer;
	border:none;
}
.btn_b:hover {
	background-position:-124px -346px;
}
.btn_w {
	width:120px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#46b5e5;
	font-size:14px;
	background:url(../images/btns.png) no-repeat 0 -389px;
	cursor:pointer;
	border:none;
}
.btn_O_long {
	width:275px;
	height:50px;
	background:url(../images/btns.png) no-repeat 0 -138px;
	border:none;
	font-size:18px;
	color:#fff;
	cursor:pointer;
}
.btn_O_long:hover {
	background-position:-277px -138px;
}
.btn_B_long {
	width:275px;
	height:50px;
	background:url(../images/btns.png) no-repeat 0 -188px;
	border:none;
	font-size:18px;
	color:#fff;
	cursor:pointer;
}
.btn_B_long:hover {
	background-position:-277px -188px;
}
.btn_R_long {
	width:275px;
	height:50px;
	background:url(../images/btns.png) no-repeat 0 -238px;
	border:none;
	font-size:18px;
	color:#fff;
	cursor:pointer;
}
.btn_R_long:hover {
	background-position:-277px -238px;
}
.btn_O {
	width:177px;
	height:50px;
	background:url(../images/btns.png) no-repeat 0 -288px;
	cursor:pointer;
	border:none;
	font-size:18px;
	color:#fff;
}
.btn_O:hover {
	background-position:-184px -288px;
}
.btn_B {
	width:177px;
	height:50px;
	background:url(../images/btns.png) no-repeat;
	cursor:pointer;
	border:none;
	font-size:18px;
	color:#fff;
}
.btn_B:hover {
	background-position:-184px 0;
}
.btn_W {
	width:177px;
	height:50px;
	background:url(../images/btns.png) no-repeat 0 -50px;
	cursor:pointer;
	border:none;
	font-size:18px;
	color:#46b5e5;
}
.btn_w_long {
	width:210px;
	height:38px;
	background:url(../images/btns.png) no-repeat 0 -100px;
	cursor:pointer;
	border:none;
	font-size:18px;
	color:#46b5e5;
}
.btn_R {
	width:177px;
	height:50px;
	background:url(../images/btns.png) no-repeat 0 -435px;
	border:none;
	font-size:18px;
	color:#fff;
	cursor:pointer;
}
.btn_R:hover {
	background-position:-184px -435px;
}
.checkbox {
	height:25px;
	line-height:25px;
	padding-left:30px;
	background:url(../images/checkbox.png) no-repeat 0 0;
	cursor:pointer;
}
.checked {
	background-position:0 -25px;
}
.radio_box {
	float:left;
	height:16px;
	line-height:16px;
	padding-left:18px;
	background:url(../images/radiobox.png) no-repeat 0 2px;
	cursor:pointer;
	margin-right:20px;
}
.radio_box_checked {
	background-position:0 -34px;
}
.select_item {
	position:relative;
	width:180px;
	cursor:pointer;
}
.select_item .text {
	height: 50px;
	line-height: 50px\9;
	border: none;
	padding-left: 12px;
	color: #333;
	font-size: 16px;
	width:168px;
	background:url(../images/input_bg1.png) no-repeat 0 -50px;
}
.select_item span {
	position:absolute;
	display:block;
	width:35px;
	height:48px;
	top:1px;
	right:3px;
	background:url(../images/input_bg1.png) no-repeat -197px -51px;
	z-index:9;
	cursor:pointer;
}
.select_item ul {
	position:absolute;
	top:50px;
	left:0;
	background:#fff;
	border:1px solid #ccc;
	width:180px;
	z-index:99;
}
.select_item ul li {
	padding-left:15px;
	font-size:14px;
	line-height:25px;
	border-bottom:1px dotted #ccc;
}
.select_item ul li:hover {
	background:#efefef;
}
.select_item1 {
	float:left;
	margin-right:8px;
	position:relative;
	width:180px;
	cursor:pointer;
}
.select_item1 .text {
	width:88px!important;
}
.select_item1 span {
	position:absolute;
	display:block;
	width:24px;
	height:34px;
	top:1px;
	right:0;
	border-left:1px solid #ccc;
	background:url(../images/input_bg1.png) no-repeat -206px -57px;
	z-index:9;
	cursor:pointer;
}
.select_item1 ul {
	position:absolute;
	top:50px;
	left:0;
	background:#fff;
	border:1px solid #ccc;
	width:180px;
	z-index:99;
}
.select_item1 ul li {
	padding-left:15px;
	font-size:14px;
	line-height:50px;
	border-bottom:1px dotted #ccc;
}
.select_item1 ul li:hover {
	background:#efefef;
}
.wrong p {
	margin-top:10px;
	padding-left:25px;
	height:22px;
	background:url(../images/icon_wrong.png) no-repeat;
	font-size:16px;
}
/*弹出层框架*/
.mask1 {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 2998;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.pop {
	position: absolute;
	top: 17%;
	left: 50%;
	z-index: 2999;
	border:10px solid rgba(33, 182, 225, 0.8);
	border:10px solid #21b6e1\9;
}
.pop_title {
	height:38px;
	line-height:38px;
	background:red;
	padding:0 20px;
	color:#fff;
}
.pop_title h3 {
	float:left;
}
.pop_title .close {
	float:right;
}
.pop_content {
	padding:20px 20px 30px;
	background:#fff;
}
.pop_close {
	position:absolute;
	top:10px;
	right:10px;
	text-indent:-32768px;
	width:25px;
	height:25px;
	background:url(../images/close.png) no-repeat;
	cursor:pointer;
}
.pop_close:hover {
	background-position:0 -25px;
}
.line {
	border-bottom:1px dotted #ccc;
	padding-bottom:20px;
}
/*翻页*/
.page {
	float:right;
}
.page a, .page span {
	float:left;
}
.page .pre {
	background:url(../images/page.png) no-repeat 0 -24px;
	text-indent: -32768px;
	width:25px;
	height:25px;
}
.page .pre-disabled {
	background:url(../images/page.png) no-repeat 0 0;
	text-indent: -32768px;
}
.page .next {
	background:url(../images/page.png) no-repeat -24px -24px;
	text-indent: -32768px;
	width:25px;
	height:25px;
}
.page .next-disabled {
	background:url(../images/page.png) no-repeat -24px 0;
	text-indent: -32768px;
}
.page a, .page span {
	width:25px;
	height:25px;
	line-height:25px;
	text-align:center;
	margin:0 10px;
	font-size:14px;
}
.page a.active {
	color:#57b7e1;
}
/*填写地址时的下拉框*/
.search_down {
	position:absolute;
	top:46px;
	left:0;
	z-index:99;
	background:#fff;
	width:318px;
	padding:5px 0;
	border:1px solid #b0b0b0;
}
.search_down li {
	height:36px;
	line-height:36px;
	padding-left:25px;
	border-bottom:1px dotted #eee;
}
.search_down li:hover {
	background:#efefef;
}

/*Sticky Footer*/
html, body, .main {
	height: 100%;
}
body > .main {
	height:auto;
	min-height: 100%;
}
.content {
	padding-bottom: 80px;
}  /* 必须使用和footer相同的高度 */
.footer {
	position: relative;
	margin-top: -80px; /* footer高度的负值 */
	height: 80px;
	clear:both;
}
