@charset "utf-8";
/* CSS Document */

.help{width:1000px; margin:30px auto; min-height:1200px; background:url(../images/help_bg.png) repeat-y;}

.help .left_bar{float:left;width:200px; }
.help .left_bar dt{ font-size:20px; text-align:center; color:#57b7e1; height:60px; line-height:50px; background:url(../images/help_left_bar.png) no-repeat left bottom; margin-bottom:20px;}
.help .left_bar dd{ height:60px; line-height:60px; font-size:16px; color:#666666; text-align:center; cursor:pointer;}
.help .left_bar dd.active{ width:220px; background:url(../images/help_left_bar_active.png) no-repeat;text-indent: -20px;}

.help_content{float:left; width:800px; line-height:24px; color:#888888;}
.help_content h3{font-size:20px; color:#888888; border-bottom:1px solid #c4c6c6; height:52px; line-height:54px; border-bottom:1px solid #c4c6c6; font-weight:normal; margin-left:20px; padding-left:5px;}
.help_content p{ margin-top:15px;}

.about_us dl { margin-left:20px; margin-top:15px;}
.about_us dl dt{float:left; width:70px; color:#57b7e1;}
.about_us dl dt s{ margin:0 14px;}
.about_us dl dd{float:left; width:630px; margin-left:10px;}
.about_us .about_us_icons{ margin-top:20px; margin-bottom:20px;}
.about_us .about_us_icons img{ margin:0 30px 0 15px;}

.question{ margin:10px 0;}
.answer{ margin-bottom:20px;}

.recruitment dl dt{ margin:10px 0; font-weight:bold;}
.recruitment dl dd{ line-height:40px;}

.feedback p{ margin-top:0;}
.feedback dt{ margin-top:20px;}
.feedback dd{ line-height:40px;}

.help_content_inner{ padding:20px;}
.privacy .tab {height:42px;border-bottom:2px solid #57b7e1;}
.privacy .tab li {float:left;height:42px;line-height:42px;padding:0 30px;background:#e8e8e8;margin-right:10px;cursor:pointer;}
.privacy .tab li.active {background:#57b7e1;color:#fff;}
	
	







