#letter_left_panel{
    width:190px;
    float:left;
    height:662px;
    background-color:#DDF7FF;
}
#letter_user_search{
    height:30px;
}
#letter_main_panel{
    width:750px;
    float:left;
    margin-left:10px;
}
#letter_user_list{

}
#letter_targetUser_info{
    height:70px;
    padding:5px;
}
#letter_toUser_pic{
    float:left;
    width:70px;
    height:70px;
}
#letter_toUser_name{
    float:left;
    height:30px;
    margin-left:10px;
}
#letter_message_panel{
    float:left;
    width:760px;
    height:500px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#fdfdfd;
    overflow-y:auto;
}
#letter_input{
    float:left;
    width:680px;
    height:60px;
}
#letter_send_button{
    float:left;
    height:40px;
    width:60px;
    padding-top:20px;
    font-size:15px;
    color:#ffffff;
    text-align:center;
    background-color:#359a64;
    margin-left: 5px;
    box-shadow: 2px 2px 2px #aaaaaa;
}
#letter_flash{
    float:left;
    width:681px;
    height:60px;
    background-color:#F38F76;
    margin-top:-61px;
}
.letterBoxContainer{
    height:auto;
    margin:5px;
    width:740px;
    overflow: auto;
}
.sendByMe>img{
    float:right;
    width:60px;
    height:60px;
    margin:5px;
}
.sendByMe>.letterBoxMessage{
    float:right;
}
.letterBoxMessage{
    width: 590px;
    height:auto;
    min-height:54px;
    float:left;
    margin:5px;
    padding:3px;
    border:#aaaaaa 1px solid;
    border-radius:2px;
    display: block;
}
.letterBoxText{
    display:block;
    margin-bottom: 15px;
}
.sendByYou>img{
    float:left;
    width:60px;
    height:60px;
    margin:5px;
}

.sendByYou>.letterBoxMessage{
    float:right;
    width:625px;
}
.letterBoxTime{
    position:absolute;
    bottom:3px;
    right:3px;
}

.letterContactListEntry{
    height:40px;
    width:180px;
    padding:5px;
}
.letterContactListEntry>img{
    width:40px;
    height:40px;
}
.letterContactListEntry>span{
    width:130px;
    margin-left:15px;
    bottom:15px;
    font-size:16px;
}
.highlitedUser{
    background-color:#1199ff;
}
.userNewMessage{
    background-color:#ff9933;  
}
.letterSendFail{
    background-image:url("../../res/warn.png");
    width:40px;
    height:40px;
    background-size: 100%;
    float:left;
    margin-left:10px;
    margin-top:10px;
}
.letterDateSplit {
    text-align:center;
    margin:5px;
    color:#999999;
}