@charset "utf-8";
/* CSS Document */
.mainPage-searchBanner { height:123px; background:url(../images/mainPage_searchBanner_bg.png) repeat-x; }
.mainPage-searchBanner-inner { width:1000px; margin:0 auto; }
.mainPage-searchBanner-searchBox { position:relative; top:20px; height:82px; background:url(../images/searchBox.png) no-repeat; padding-left:12px; }
.mainPage-searchBanner-searchBox input.text { width:225px; height:50px; line-height:50px\9; font-family:微软雅黑; background:url(../images/input_bg.png) no-repeat 0 -280px; border:none; padding-left:35px; font-size:18px; color:#888888; }
.mainPage-searchBanner-searchBox .from { position:relative; float:left; width:260px; margin-top:16px; margin-right:10px; }
.mainPage-searchBanner-searchBox .from label { position:absolute; display:block; width:20px; height:20px; top:15px; left:12px; background:url(../images/icon.png) no-repeat; }
.mainPage-searchBanner-searchBox .to { position:relative; float:left; width:260px; margin-top:16px; margin-right:10px; }
.mainPage-searchBanner-searchBox .to label { position:absolute; display:block; width:20px; height:20px; top:15px; left:12px; background:url(../images/icon.png) no-repeat 0 -25px; }
.mainPage-searchBanner-searchBox .date { float:left; position:relative; width:130px; margin-top:16px; }
.mainPage-searchBanner-searchBox .date .text { width:94px; background:url(../images/input_bg.png) no-repeat 0 -219px; }
.mainPage-searchBanner-searchBox .date label { position:absolute; display:block; width:20px; height:20px; top:15px; left:12px; background:url(../images/icon.png) no-repeat 0 -49px; }
.mainPage-searchBanner-searchBox .zh { float:left; width:27px; height:21px; margin:30px 10px; background:url(../images/input_bg.png) no-repeat -206px -73px; }
.mainPage-searchBanner-searchBox .date-return-disabled label { background-position:0 -301px; }
.mainPage-searchBanner-searchBox .date-return-disabled input.text { background-position:0 -165px; cursor:default; }
.mainPage-searchBanner-searchBox .search {float:left; margin-top: 16px; margin-left:10px;}
.mainPage-searchBanner-searchBox .search input{width:115px; height:50px; background:url(../images/btns.png) no-repeat -367px -288px; cursor:pointer; border:none; font-size:18px; color:#fff;}
.mainPage-searchBanner-searchBox .search_down{width:258px;}

.mainPage-middle { width:1000px; margin:25px auto 45px; }
.mainPage-middle-right { float:right; width:275px; }
.mainPage-searchResult-container { float:left; width:700px; }/*搜索结果*/
.mainPage-searchResult-title { border-bottom:1px solid #57b7e1; padding-bottom:10px; background:url(../images/icon.png) no-repeat 0 -252px; font-size:18px; color:#57b7e1; padding-left:40px; margin-bottom:15px; }
.mainPage-searchResult-multiPage-pageNum { float:right; }/*翻页*/
.mainPage-searchResult-multiPage-pageNum a, .mainPage-searchResult-multiPage-pageNum span { float:left; }
.mainPage-searchResult-multiPage-pageNum .pre { background:url(../images/page.png) no-repeat 0 -24px; text-indent: -32768px; width:25px; height:25px; }
.mainPage-searchResult-multiPage-pageNum .pre-disabled { background:url(../images/page.png) no-repeat 0 0; text-indent: -32768px; }
.mainPage-searchResult-multiPage-pageNum .next { background:url(../images/page.png) no-repeat -24px -24px; text-indent: -32768px; width:25px; height:25px; }
.mainPage-searchResult-multiPage-pageNum .next-disabled { background:url(../images/page.png) no-repeat -24px 0; text-indent: -32768px; }
.mainPage-searchResult-multiPage-pageNum a, .mainPage-searchResult-multiPage-pageNum span { width:25px; height:25px; line-height:25px; text-align:center; margin:0 10px; font-size:14px; cursor:pointer;}
.mainPage-searchResult-multiPage-pageNum a.active { color:#57b7e1; }
.mainPage-map { width:269px; height:344px; border:3px solid #57b7dd; }/*地图*/
.mainPage-filter { position:relative; height:70px; background:#efefef; margin-bottom:30px; font-size:14px; }
.mainPage-filter dl { height:30px; line-height:30px; background:#cacaca; margin-bottom:10px; color:#fff; }
.mainPage-filter dt, .mainPage-filter dd { float:left; }
.mainPage-filter dt { position:relative; width:87px; text-align:center; }
.mainPage-filter dt span { display:block; position:absolute; top:9px; left:-6px; width:6px; height:12px; background:url(../images/arrow.png) no-repeat; }
.mainPage-filter dd span { float:left; width:92px; text-align:center; cursor:pointer; border-left:2px solid #f1f1f1; }
.mainPage-filter dd span:hover { background:#9ee1f7; }
.mainPage-filter dd span.active { background:#56afcd; }
.mainPage-filter dl.item2 span { width:60px; }
.mainPage-filter .collapse { display:none; position:absolute; left:75px; background:red; bottom:0; width:126px; height:22px; text-align:center; cursor:pointer; background:url(../images/filter.png) no-repeat; text-indent: -32768px; }
