/*框架*/
.messageDetail {
	width:1000px;
	margin:20px auto 50px;
}
/*信息标题*/
.messageDetail-top {
	border-bottom:2px solid #46b6e6;
	color:#57b7e1;
	padding-bottom:10px;
	height:30px;
	line-height:30px;
	font-size:16px;
}
.messageDetail-top-location {
	float:left;
}
.messageDetail-top-location .from {
	float:left;
	padding-left:22px;
	background:url(../images/icon.png) no-repeat 0 -343px;
}
.messageDetail-top-location .to {
	float:left;
	padding-left:22px;
	background:url(../images/icon.png) no-repeat 0 -381px;
}
.messageDetail-top-location .arrow {
	float:left;
	width:40px;
	margin:0 30px;
	text-indent:-32768px;
	background: url(../images/message_simple.png) no-repeat;
}
.messageDetail-top .back-and-forth .arrow {
	background-position: 0 -173px;
}
.messageDetail-top .one-way .arrow {
	background-position: 0 -247px;
}
.messageDetail-top .one-way-return .arrow {
	background-position: 0 -325px;
}
.messageDetail-top-publishTime {
	float:right;
	color:#9b9b9b;
}
.messageDetail-upper-info {
	float:left;
	width:700px;
}
.messageDetail-upper-info dl {
	margin:15px auto;
}
.messageDetail-upper-info dt {
	float:left;
	width:80px;
}
.messageDetail-upper-info dt s {
	margin:0 15px 0 14px;
}
.messageDetail-upper-info dd {
	float:left;
	width:610px;
	color:#888888;
	line-height:24px;
}
.messageDetail-upper-info dd label {
	margin-left:50px;
}
.priceList {
	width:608px;
	border:1px solid #d0e8f3;
	background:#f8fcfe;
	margin:10px 0 10px 80px;
}
.priceList ul {
	padding:5px 0 5px 15px;
}
.priceList ul li {
	float:left;
	line-height:30px;
	margin:0 22px 0 20px;
	font-size:12px;
	color:#888888;
}
/*发布者信息*/
.messageDetail-upper-user {
	float:right;
	width:275px;
}
.messageDetail-upper-user-profile {
	margin-top:20px;
	border:1px solid #d8d8d8;
	padding:15px;
	background:url(../images/profile.png) no-repeat;
}
.messageDetail-upper-user-profile dt {
	float:left;
	margin-right:10px;
}
.messageDetail-upper-user-profile dd {
	float:left;
}
.messageDetail-upper-user-profile dd div {
	margin-bottom:6px;
}
.actButton {
	margin-top:15px;
}
/*自动匹配*/
.messageDetail-middle-autoMatch-container {
	width:700px;
	float:left;
	margin-top:30px;
}
.messageDetail-middle-autoMatch-title {
	border-bottom: 2px solid #57b7e1;
	font-size:16px;
	padding-bottom: 10px;
	color: #57b7e1;
	margin-bottom: 15px;
}
.messageDetail-middle-autoMatch-loading {
	text-align:center;
	padding-left:60px;
	height:60px;
	line-height:60px;
	background:url(../images/loading.gif) no-repeat 225px 0;
}
/*已预订座位列表*/
.messageDetail-middle-transaction {
	float:right;
	width:275px;
	margin-top:30px;
}
.messageDetail-middle-transaction-title {
	border-bottom: 2px solid #57b7e1;
	font-size:16px;
	padding-bottom: 10px;
	color: #57b7e1;
	margin-bottom: 15px;
}
.messageDetail-middle-transaction ul li {
	line-height:30px;
}
.messageDetail-middle-transaction ul li a, .messageDetail-middle-transaction ul li a:visited {
	color:#57b7e1;
	margin-right:10px;
}
.messageDetail-middle-transaction ul li span {
	margin:0 5px;
}
/*地图*/
.messageDetail-map {
	float:left;
	width:700px;
	margin-top:30px;
}
.messageDetail-map-title {
	border-bottom: 2px solid #57b7e1;
	font-size:16px;
	padding-bottom: 10px;
	color: #57b7e1;
	margin-bottom: 15px;
}
.messageDetail-map-content {
	width:698px;
	height:348px;
	border:1px solid #ccc;
}
/*pop--预订页面*/
.message_reservation {
	width:850px;
	margin-left: -450px;
}
.message_reservation .user {
	width:100px;
	margin-top:20px;
	margin-right:15px;
	text-align:center;
}
.message_reservation .messageDetail-upper-info {
	position:relative;
	width:690px;
}
.message_reservation .messageDetail-upper-info dd {
	width:600px;
}
.booker {
	float:left;
	width:690px;
	margin-top:15px;
}
.booker dl {
	margin-bottom:10px;
}
.booker dt {
	float:left;
	width:80px;
}
.booker dt s {
	margin: 0 15px 0 14px;
}
.booker dd {
	float:left;
	width:590px;
}
.booker dd textarea {
	width:560px;
	height:30px;
	border:1px solid #ccc;
	padding:10px;
	text-align:left;
	font-family:微软雅黑;
	font-size:14px;
}
.btns {
	text-align:center;
	margin-top:20px;
}
/*pop--*/
.book_no {
	width:635px;
	margin-left:-320px;
}
.book_no p {
	line-height:30px;
	margin-right:30px;
}
.book_no .btns {
	border-top:1px dotted #ccc;
	padding-top:20px;
}
/*预约状态*/
.status {
	position: absolute;
	right:10px;
	top:15px;
}
.status p {
	width:176px;
	height:29px;
	line-height:29px;
	text-align:center;
	color:#ff6526;
	font-size:18px;
	background:url(../images/a.png) no-repeat;
}
.status div {
	margin-top:5px;
	font-size:14px;
}
.booked span {
	padding-left:25px;
	background:url(../images/icon.png) no-repeat -1px -423px;
}
.status1 span {
	padding-left:25px;
	background:url(../images/icon.png) no-repeat -1px -454px;
	color:#2fba46;
	font-size:16px;
}
.comment dd {
	line-height:50px;
}
.comment dd .star {
	float:left;
	width:20px;
	height:20px;
	background:url(../images/icon.png) no-repeat 0 -540px;
	margin-right:2px;
	cursor:pointer;
}
.comment dd .on {
	background:url(../images/icon.png) no-repeat 0 -504px;
}
#view_expired {
	width: 275px;
	height: 50px;
	border: none;
	font-size: 18px;
	cursor: pointer;
	color:#000;
}
#view_profilePicture, #view_profileName {
	cursor:pointer;
}