@charset "utf-8";
/* CSS Document */
.myPage {
	width:1000px;
	margin:0 auto;
	background:url(../images/mypage_bg.png) repeat-y left;
}
/*左侧个人信息*/
.left_bar {
	width:250px;
	float:left;
}
.left_bar_inner {
	padding:35px 15px 100px;
}
.profile div.fleft {
	float:left;
	margin-right:10px;
}
.profile p {
	margin-bottom:7px;
}
.profile p.name {
	color:#57b7e1;
}
.follow {
	color:#57b7e1;
	font-size:13px;
	margin:10px 0;
}
.follow span {
	margin-right:10px;
	padding-left:10px;
	background:url(../images/icon.png) no-repeat 0 -569px;
	cursor:pointer;
}
.follow span.first {
	padding-left:0;
	background:none
}
.left_bar dl {
	margin-bottom:15px;
	font-size:12px;
}
.left_bar dl dt {
	border-bottom:1px solid #66bce2;
	padding:10px 0 5px;
	color:#57b7e1;
	margin-bottom:5px;
}
.left_bar dl dt span.fright {
	cursor:pointer;
}
.left_bar dl dd {
	line-height:24px;
}
.verification .verified {
	padding-left:20px;
	background:url(../images/icon.png) no-repeat 0 -600px;
	color:#2fba46;
}
/*右侧内容*/
.myPage_content {
	width:730px;
	float:right;
	padding-top:30px;
	margin-bottom:100px;
}
.tab {
	height:42px;
	border-bottom:2px solid #57b7e1;
}
.tab li {
	float:left;
	height:42px;
	line-height:42px;
	padding:0 30px;
	background:#e8e8e8;
	margin-right:10px;
	cursor:pointer;
}
.tab li.active {
	background:#57b7e1;
	color:#fff;
}
.sub_tab {
	position:relative;
	padding-left:20px;
	border-bottom:1px solid #ccc;
}
.sub_tab li {
	float:left;
	height:49px;
	line-height:48px;
	margin:0 20px;
	cursor:pointer;
}
.sub_tab li.active {
	position:relative;
	top:1px;
	background:url(../images/arrow1.png) no-repeat bottom center;
	color:#57b7e1;
}
.sub_tab .notice_set {
	position:absolute;
	right:10px;
	top:15px;
}
.sub_tab .notice_set a {
	color:#57b7e1;
}
.myPage_content .sub_tab {
	margin-bottom:30px;
}
/*关注*/
.idol_fans ul li {
	overflow:hidden;
}
.follows {
	float:left;
	margin-right:10px;
	width:208px;
	height:58px;
	border:1px solid #dddddd;
	padding:10px;
	margin-bottom:20px;
}
.follows dt {
	float:left;
	margin-right:10px;
}
.follows dd .name {
	margin-bottom:10px;
}
.follows dd .name a, .follows dd .name a:visited {
	color:#57b7e1;
}
.follows dd p a.cancel {
	padding-left:10px;
	background:url(../images/icon.png) no-repeat 0 -630px;
	margin-left:10px;
	cursor:pointer;
}
.follows dd p a.follow_two {
	padding-left:20px;
	color:#2fba46;
	background:url(../images/icon.png) no-repeat 0 -650px;
}
.follows dd p a.add_follow {
	padding-left:20px;
	color:#2fba46;
	background:url(../images/icon.png) no-repeat 0 -673px;
}
.follows dd p a.followed {
	padding-left:20px;
	color:#2fba46;
	background:url(../images/icon.png) no-repeat 0 -597px;
}
/*通知*/
.notice {
	margin-top:-20px;
}
.notice table td {
	padding:15px 0;
	border-bottom:1px dotted #ccc;
}
.notice table td a, .notice table td a:visited {
	color:#57b7e1;
}
.notice table .user {
	vertical-align:top;
	font-size:13px;
}
.notice table .user dt {
	float:left;
	margin-right:10px;
}
.notice table .user dd.name {
	margin-bottom:8px;
}
.notice table .notice_content div {
	margin-bottom:20px;
}
.notice table .delete {
	text-align:right;
	padding-right:5px;
}
.notice_bar {
	margin-top:20px;
	line-height:30px;
}
.notice_bar a {
	color:#57b7e1;
	margin:0 10px;
}
.notice_bar {
	font-size:13px;
}
.notice_bar input {
	margin-left:20px;
}
.notice .page {
	margin-top:25px;
}
/*通知详细*/
.notice_detail {
	padding-bottom:20px;
	border-bottom:1px dotted #ccc;
}
.notice_detail .user {
	float:left;
	width:160px;
	vertical-align:top;
	font-size:13px;
}
.notice_detail .user dt {
	float:left;
	margin-right:10px;
}
.notice_detail .user dd.name {
	margin-bottom:8px;
}
.notice_detail_content {
	width:560px;
	float:right;
	line-height:28px;
}
.notice_detail_content dt {
	font-size:16px;
	color:#57b7e1;
}
.notice_detail_content p {
	margin-top:20px;
}
/*账号管理*/
.account dl {
	margin:20px 0;
}
.account dt {
	float:left;
	width:80px;
	text-align:right;
	height:34px;
	line-height:34px;
	margin-right:10px;
}
.account dt span {
	color:#ff5500;
	margin-right:3px;
}
.account dd {
	line-height:34px;
	overflow:hidden;
}
.account dd .text {
	float:left;
	width:372px;
	height:34px;
	line-height:34px;
	border:1px solid #d3d3d3;
	padding-left:10px;
}
.account dd .radio_box {
	margin-top:8px;
}
.account dd.wrong {
	margin-left:90px;
}
.account dd.wrong p {
	font-size:14px;
	line-height:22px;
}
.account dd .right {
	float:left;
	width:14px;
	height:14px;
	background:url(../images/icon.png) no-repeat 0 -600px;
	margin-top:7px;
	margin-left:5px;
}
.account .btns {
	padding-left:90px;
	margin-top:50px;
}
.account .birthday .select_item1 {
	float:left;
	width:98px;
}
.account .birthday label {
	float:left;
	margin-right:12px;
}
/*修改头像*/
.avatar dt {
	float:left;
	margin-right:20px;
}
.avatar dd div {
	margin-bottom:50px;
}
/*修改密码*/
.password dt {
	width:180px;
}
.password dd.wrong {
	margin-left: 190px;
}
.password .btns {
	margin-left:105px;
}
/*通知设置*/
.notice_set div {
	margin-bottom:20px;
	margin-left:40px;
}
/*预约信息*/
.booking_info {
	margin-top:20px;
}
.booking_info .message_simple dl {
	position:relative;
}
.booking_info .message_simple dt {
	position:absolute;
	width:115px;
	height:85px;
	line-height:85px;
	text-align:center;
	color:#fff;
}
.booking_info .blue_head {
	background:url(../images/booking_info.png) no-repeat;
}
.booking_info .orange_head {
	background:url(../images/booking_info.png) no-repeat 0 -86px;
}
/*我发布的路线*/
.my_route {
	margin-top:20px;
}
.my_route .message_simple dd {
	float:left;
	width:100%;
}
.my_route .price {
	float:right;
	padding-right:20px;
}
