#publish_progress{
	width:100%;
	height:50px;
	position:relative;
	margin-top:20px;
	text-align: center;
	background-size: cover;
}

.publish_progress_step1{
	background-image:url('../../res/publish/publishProgress_step1.png');
}

.publish_progress_step2{
	background-image:url('../../res/publish/publishProgress_step2.png');
}

.publish_progress_step3{
	background-image:url('../../res/publish/publishProgress_step3.png');
}


#publish_requirement{
	width:530px;
	height:300px;
	position:relative;
	float: left;
	margin-left:30px;
}

#publish_info{
	width:100%;
	height:100%;
	position:relative;
	margin:0;
}
.publish_time_info{
	width:100%;
	height:70%;
	position:relative;
	margin:0;
}

#publish_map {

}

#publish_type {
	width:100%;
	height:105px;
}

.selectBox{
	width:198px;
	height:100px;
	border:1px solid #aaaaaa;
	border-radius: 5px;
}

.selectBox_selected{
	border:1px solid #33aa22;
}

#publish_help{
	float:left;
}

#publish_ask{
	float:left;
	margin-left:10px;
}
#publish_ask_img{
	height:100%;
	width:80px;
	float: left;
	position: relative;
	background-image:url('../../res/publish/ask.png');
	background-position:left;
	background-repeat: no-repeat;
	background-size:50%;
	margin-left:18px;
}
#publish_help_img{
	height:100%;
	width:80px;
	float: left;
	position: relative;
	background-image:url('../../res/publish/help.png');
	background-position:left;
	background-repeat: no-repeat;
	background-size:50%;
	margin-left:18px;
}
#publish_ask_text, #publish_help_text{
	width:100px;
	height:30px;
	margin-top: 40px;
	float:left;
}

#publish_gender{
	width:100%;
	height:25px;
	margin-top:20px;
	float:left;
}

#publish_gender > input{
	width:20px;
	margin-left:50px;
	position:relative;
}
.publish_gender_first{
	margin-left: 0 !important;
}

#publish_origin, #publish_dest{
	width:100%;
	height:30px;
	margin-top:5px;
	float:left;
}
#publish_originInput, #publish_destInput {
	width:405px;
}

.publish_label {
  margin-left: 0;
  margin-right: 5px;
  letter-spacing: 2px;
  width:100px;
  height:20px;
  font-size: 14px;
  font-weight: bolder;
  color: #585858;
  float: left;
  text-align: right;
}
.publish_header {
  margin-left: 0;
  margin-right: 5px;
  letter-spacing: 2px;
  width:100px;
  height:20px;
  font-size: 14px;
  font-weight: bolder;
  color: #222222;

  text-align: right;
}


#publish_tip{
	font-size: 11px;
	color: #888888;
	margin-left:105px;
	margin-top: 5px;
}

#publish_nextStep, #publish_finish {
	float:right;
	text-align: center;
	width:140px;
	height:25px;
	padding-top:5px;
	margin-top: 5px;
	margin-right: 18px;
	background-color: #3dbe6e;
	letter-spacing: 3px;
	color: #ffffff;
	border:1px solid #aaaaaa;
	-moz-box-shadow:    3px 3px 5px 0 #ccc;
  	-webkit-box-shadow: 3px 3px 5px 0 #ccc;
  	box-shadow:         3px 3px 5px 0 #ccc;
}

#publish_back {
	float:left;
	text-align: center;
	width:120px;
	height:25px;
	padding-top:5px;
	margin-top: 5px;
	margin-right: 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 2%, #cacaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 2%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 2%,#cacaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 2%,#cacaca 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 2%,#cacaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */

	letter-spacing: 3px;
	color: #000000;
	border:1px solid #aaaaaa;
	-moz-box-shadow:    3px 3px 5px 0 #ccc;
  	-webkit-box-shadow: 3px 3px 5px 0 #ccc;
  	box-shadow:         3px 3px 5px 0 #ccc;
}

#publish_description {
	width:500px;
	height:120px;
}

#publish_description_input{
	width:438px;
	height:100px;
	resize:none;
	margin-left:70px;
	margin-top:5px;
}

#publish_map{
	float:left;
	width:360px;
	height:280px;
	border:1px solid #000000;
}

#publish_time_container{	
	width:500px;
	height:220px;
	background-color: #f0f0f0;
	border: 2px solid #e8e8e8;
	border-radius: 1px;
	float: left;
}
#publish_time_slots{
	position:relative;
	width:100%;
	height:100%;
}
.publish_time_header{
	font-size:17px;
	margin-left:10px;
	margin-top:10px;
	color:#969696;
	font-weight: bold;
}

.publish_time_box{
	position:relative;
	width:93%;
	height:180px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	background-color: #e8e8e8;
	border: 2px solid #d2d2d2;
	border-radius: 5px;
	-moz-box-shadow:    inset 0 0 10px #c8c8c8;
  	-webkit-box-shadow: inset 0 0 10px #c8c8c8;
  	box-shadow:         inset 0 0 10px #c8c8c8;
}

.publish_time_date{
	width:390px;
	height:30px;
	position: relative;
	margin-top:10px;
	margin-left: 40px;
	color: #434343;
	font-weight: bold;
	font-size: 15px;
}

.publish_time_availableTime{
	width:250px;
	height:30px;
	position: relative;
	margin-left: 20px;
	color: #434343;
	font-weight: bold;
	font-size: 15px;
	float:left;
}
.publish_time_availableTime > .publish_label{
	width:70px;
	text-align: left;
}
.publish_time_availableTimeSelection{
	width: 390px;
	height: 30px;
	position: relative;
	margin-top: 20px;
	margin-left: 35px;
}

.publish_time_hourRate{
	width:300px;
	height:30px;
	position: relative;
	margin-top:15px;
	margin-left: 50px;
	color: #9B9B9B;
	font-size: 15px;
	font-weight:normal;
	float:left;
}

.publish_time_hourRate > .publish_label{
	width:130px;
	text-align: left;
	float:left;
}
.publish_time_hourRate > .publish_label_larger{
  margin-right: 5px;
  margin-top:-2px;
  margin-left: 0;
  letter-spacing: 2px;
  height:30px;
  font-size: 20px;
  font-weight: bolder;
  color: #585858;
  float: left;
  text-align: right;
}
.publish_time_hourRate > input{
	width:40px;
	float:left;
}
.input_checkbox {
	width:13px;
	margin-right:5px;
	margin-left:10px;
}

.input_date {
	width:120px;
	margin-right:5px;
	margin-left:5px;
}

.publish_delete{
	color: rgb(84,116,167);
	float:right;
	margin-top: 30px;
	font-size: 15px;
	text-align:center;
	width:50px;
	height:15px;
}

#publish_time_add{
	width:100%;
	height: 25px;
	position: relative;
	padding-top: 15px;
	color:rgb(32, 131, 79);
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
}

#edit_myInfo{
	width:330px;
	height:400px;
	border:1px solid #e8e8e8;
	padding:10px;
	float:left;
	position:relative;
	margin-right:20px;
	background-color: #f0f0f0;
}

.publish_time_container_wrapper{
	width:502px;
	height:650px;
	float:left;
}

#edit_myLocation > input {
	width:320px;
}
#edit_mySchool > input {
	width:320px;
}
#edit_myDetail > textarea {
	width:322px;
	height:100px;
	resize:none;
}
#edit_myGender > input {
	width:15px;
}

.publish_time {
	width:370px;
	height:40px;
	margin-left:35px;
	margin-top:5px;
	margin-bottom:5px;
}

.publish_time_availableTimeSelection > .publish_label {
	width:50px;
}