#quickStart{
	width:950px;
	height:280px;
	/* Image only for preview */
	background-image: url('../../res/quickStart/quickStartMain.png');

	border: 1px solid #999999;
}

.quickStart_box{
	width:280px;
	height:165px;
	position:relative;
	float:left;
	margin-top:115px;
	z-index: 2;
}
#quickStart_from > .quickStart_description {
	font-size: 14px;
	letter-spacing: 2px;
	color:#000000;
}
#quickStart_from {
	margin-left:17px;
}
#quickStart_to > .quickStart_description {
	font-size: 14px;
	letter-spacing: 1px;
	color:#ffffff;
}
#quickStart_to {
	margin-left:62px;
}
#quickStart_day > .quickStart_description {
	font-size: 14px;
	letter-spacing: 3px;	
	color:#ffffff;
}
#quickStart_day{
	width:235px;
	margin-left:63px;
}
.quickStart_value{
	width:95%;
	height:45px;
	position: relative;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	font-size:25px;
	text-align: center;
}
.quickStart_description{
	width:70%;
	height:70px;
	position: relative;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding:10px 10px 10px 10px;
}

#quickStart_resultPanel{
	width:680px;
	height:338px;
	margin-top: 30px;
	border-width:1px;
	border-style: solid;
	border-color:#aaaaaa;
	float:left;
}
.quickStart_searchResultBox{
	width:100% !important;
	border-top-width: 0 !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-bottom-width: 1px !important;
	margin:0 6px 0 6px !important;
	padding-bottom: 12px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.quickStart_searchResultInfo{
	width:340px !important;
}

#quickStart_go{
	width:230px;
	height:320px;
	position:relative;
	float:left;
	margin-top:30px;
	margin-left:20px;
}

.quickStartButton{
	width:230px;
	height:35px;
	margin-bottom:15px;
	border:1px solid #000000;
	text-align: center;
	font-size:15px;
	letter-spacing: 5px;
	padding-top:20px;
	color:#ffffff	;
	background: #58ab7f; /* Old browsers */
	background: -moz-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58ab7f), color-stop(100%,#359a64)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* IE10+ */
	background: linear-gradient(to bottom, #58ab7f 0%, #359a64 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ab7f', endColorstr='#359a64',GradientType=0 ); /* IE6-9 */

}

#quickStart_cityInDescription{
}
#quickStart_schoolInDescription{
}
#quickStart_selectedDate{
}
#quickStart_numInSchool{
	margin:0 5px 0 5px;
	font-size:30px;
}
#quickStart_numInCity{
	margin:0 5px 0 5px;
	font-size:30px;
}
#quickStart_selectedDateDescription{
	font-size:35px;
	text-align: right;
	margin-right: 30px;
}


.frontBoxContainer {
	width:671px;
	height:101px;
	padding:5px;
	border-bottom: 1px #aaaaaa solid;
}

#quickStart_dateinput{
	height:0;
	width:0;
	opacity:0;
	top:-91px;
	left:-35px;
}

.searchResultProfilePicture.front{
	height:100px;
	width:100px;
}

.searchResultContainerInfo.front {
	width:350px;
}