@charset "utf-8";
/* CSS Document */

/*布局*/
.sign_up {
	width:1000px;
	margin:30px auto 100px;
}
.sign_up .sign_up_inner {
	border:1px solid #e7e7e7;
}
.sign_up_title {
	height:49px;
	line-height:48px;
	background:#effaff;
	border-bottom:1px solid #e7e7e7;
}
.sign_up_title h2 {
	font-size:24px;
	color:#45b7e9;
	font-weight:normal;
	padding-left:20px;
}
.sign_up_title div {
	padding-right:30px;
}
.sign_up_title div span {
	display:inline-block;
	margin-left:50px;
}
.sign_up_title div span b {
	display:inline-block;
	width:24px;
	height:24px;
	text-indent:7px;
	line-height:24px;
	margin-right:5px;
	background:url(../images/icon.png) no-repeat 0 -762px;
	color:#fff;
	font-size:18px;
	font-family:Arial;
}
.sign_up_title div span.active b {
	background-position:0 -714px;
}
/*账号管理*/
.sign_up .account {
	margin:50px 10px 100px 20px;
	background:url(../images/sign_up_bg.jpg) no-repeat center right;
}
.sign_up dl {
	margin:30px 0 !important;
}
.sign_up dt {
	float:left;
	width:80px;
	text-align:right;
	height:34px;
	line-height:34px;
	margin-right:10px;
}
.sign_up dt span {
	color:#ff5500;
	margin-right:3px;
}
.sign_up dd {
	line-height:34px;
	/*TODO overflow:hidden;*/
	position: relative;
}
.sign_up dd .text {
	float:left;
	width:350px;
	height:34px;
	line-height:34px\9;
	border:1px solid #d3d3d3;
	padding-left:10px;
}
.sign_up dd .radio_box {
	margin-top:8px;
}
.sign_up dd.wrong {
	margin-left:90px;
}
.sign_up dd.wrong p {
	font-size:14px;
	line-height:22px;
}
.sign_up dd .right {
	float:left;
	width:14px;
	height:14px;
	background:url(../images/icon.png) no-repeat 0 -600px;
	margin-top:7px;
	margin-left:5px;
}
.sign_up .btns {
	padding-left:90px;
	margin-top:50px;
	text-align: left;
}
.sign_up .birthday .text {
	float:left;
	width:88px;
	margin-right:5px;
}
.sign_up .birthday label {
	float:left;
	margin-right:12px;
}
.sign_up .address input.text {
	float:left;
	width:160px;
	margin-right:18px;
}
.email_verification {
	margin:90px 0 100px 130px;
}
.email_verification h3 {
	font-size:30px;
	font-weight:normal;
	color:#ff5500;
	margin-bottom:30px;
}
.email_verification p {
	margin-bottom:30px;
	font-size:18px;
}
.sign_up .email_verification .btns {
	padding-left:0;
}
#forgotWrong{
	margin-left: 70px;
}
.forgot_password {
	margin:90px 0 100px 130px;
}
.forgot_password input.text {
	width:350px;
	height:34px;
	line-height:34px\9;
	border:1px solid #d3d3d3;
	padding-left:10px;
}
.forgot_password .btns {
	padding-left:70px;
}

.sign_up_err{
	position: relative;
	top: 40px;
	text-align: left;
}

.sign_up_err span{
	display: inline-block;
	margin-left: -335px;
}

#sign_up_location_container{
	position:relative;
	overflow: visible;
}
