@charset "utf-8";
/* CSS Document */

.topBar {
	width:100%;
	height:60px;
	background:#000;
}
.topBar-inner {
	width:1000px;
	margin:0 auto;
}
.topBar-logo a {
	float:left;
	background:url(../images/logo.png) no-repeat left center;
	width:138px;
	height:60px;
	text-indent: -32768px;
}
.topBar-navigation {
	float:left;
	margin-left:55px;
}
/*主导航*/
.topBar-navigation li {
	float:left;
	height:60px;
	line-height:60px;
	margin-right:52px;
	font-family:'幼圆', '微软雅黑', '黑体', '宋体';
	font-size:18px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.topBar-navigation li:hover {
	color:#b9eaff;
}
.topBar-navigation li.active {
	background:url(../images/nav_spites.png) no-repeat 21px -366px;
}
.topBar-dropdown {
	float:left;
	margin-left:90px;
}
/*右侧工具*/
.topBar-dropdown dl {
	float:left;
	width:70px;
	position:relative;
}
.topBar-dropdown dl dt {
	display:block;
	height:60px;
	background:url(../images/nav_spites.png) no-repeat;
	text-indent: -32768px;
	cursor:pointer;
}
.topBar-dropdown dl.message dt {
	background-position:0 16px;
}
.topBar-dropdown dl.email dt {
	background-position:0 -43px;
}
.topBar-dropdown dl.collection dt {
	background-position:0 -106px;
}
.topBar-dropdown dl.message dt:hover {
	background-position:0 -164px;
}
.topBar-dropdown dl.email dt:hover {
	background-position:0 -223px;
}
.topBar-dropdown dl.collection dt:hover {
	background-position:0 -286px;
}
.topBar-dropdown dd, .topBar-profileImage dd {
	position:absolute;
	left:-53px;
	top:45px;
	width:100px;
	background:url(../images/nav_spites.png) no-repeat 64px -354px;
	padding-top:12px;
}
.topBar-dropdown ul, .topBar-profileImage ul {
	background-color: #fff;
}
.topBar-dropdown ul li, .topBar-profileImage ul li {
	line-height:32px;
	color:#333;
	font-size:12px;
}
.topBar-dropdown ul li a, .topBar-profileImage ul li a {
	padding:0 10px;
	display:block;
	text-decoration:none;
}
.topBar-dropdown ul li a:hover, .topBar-profileImage ul li a:hover {
	background:#efefef;
}
.topBar-profileImage {
	float:right;
	position:relative;
	width:50px;
}
/*头像*/
.topBar-profileImage dt {
	margin-top:5px;
}
.topBar-profileImage dt img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
