#dropdowns .dropdownTitle{
  clear: both;
  height: 25px;
  padding:6px 6px 0 6px;
  color: #333;
  text-align: center;
}

#dropdowns .dropdownTitle .dropdownTitleText{
  float: left;
  font-weight: bold;
}

#dropdowns .dropdownTitle .dropdownTitleCheckAll{
  float: right;
  color: blue;
}

#dropdowns .dropdownTitle .dropdownTitleCheckAll:hover{
  background-color: rgb(236,223,177);
  cursor: pointer;
}

.dropdownContent{
  font-size: 11px;
  padding:6px 3px 6px 3px;
  width:239px;
  border-top: 1px solid #aaaaaa;
  height: 40px;
}


.dropdownContent:hover{
  background-color: rgb(236,223,177) !important;
  cursor: pointer;
}

.dropdownContent .dropdown-img{
  width: 40px;
  height: 40px;
  float: left;
  padding-left: 5px;
}

.dropdownContent .dropdown-img img{
  width: 40px;
  height: 40px;
}




/*-----   notification dropdowns -----*/
.dropdownContent .dropdown-notification-text{
  width: 185px;
  height: 40px;
  float: right;
}

#notificationDropdown .notification-dropdown-read-0{
  background-color: #D6DDEB;
}

.dropdownContent .dropdown-notification-text .dropdown-text-row1{
  font-size: 12px;
}

.dropdownContent .dropdown-notification-text .dropdown-text-row1 .dropdown-text-name{
  font-weight: bold;
  color: #333;
  padding-right: 5px;
}

.dropdownContent .dropdown-notification-text .dropdown-text-row2{
  height: 12px;
}


/*-----   letter dropdowns -----*/
.dropdownContent .dropdown-letter-text{
  width: 185px;
  height: 40px;
  float: right;
}

#letterDropdown .letter-dropdown-read-0{
   background-color: #D6DDEB;  
}

.dropdownContent .dropdown-letter-text .dropdown-text-row1{
  height: 28px;
  overflow: hidden;
}

.dropdownContent .dropdown-letter-text .dropdown-text-row1 .dropdown-letter-from-txt{
  height: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdownContent .dropdown-letter-text .dropdown-text-row1 .dropdown-letter-from-txt .dropdown-text-name{
  font-size: 12px;
  font-weight: bold;
  padding-right: 5px;
}

.dropdownContent .dropdown-letter-text .dropdown-text-row1 .dropdown-letter-content-text{
  height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
}


/*-----   favorite dropdowns -----*/
.dropdownContent .dropdown-favorite-text{
  width: 185px;
  height: 40px;
  float: right;
}

.dropdownContent .dropdown-favorite-text .dropdown-favorite-text-wrapper{
  width: 140px;
  height: 40px;
  float: left;
}

.dropdownContent .dropdown-favorite-text .dropdown-favorite-text-wrapper .dropdown-text-row1{
  width: 100%;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.dropdownContent .dropdown-favorite-text .dropdown-favorite-text-wrapper .dropdown-text-row1 .dropdown-text-name{
  padding-top: 2px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.dropdownContent .dropdown-favorite-text .dropdown-favorite-text-wrapper .dropdown-text-row1 .dropdown-text-gender{
  padding-top: 2px;
  font-style:oblique;
  display: inline-block;
  vertical-align: middle;
}

.dropdownContent .dropdown-favorite-text .dropdown-favorite-text-wrapper .dropdown-text-row1 .dropdown-text-gender img{
  width: 16px;
  height: 16px;
}

.dropdownContent .dropdown-favorite-text .dropdown-favorite-text-wrapper .dropdown-text-row2{
  height: 15px;
  font-size: 12px;
}

.dropdownContent .dropdown-favorite-text .dropdown-text-avgScore{
  width: 36px;
  height: 36px;
  float: right;
  margin-right: 5px;
  border: 2px solid #58ab7f;
}

.dropdownContent .dropdown-favorite-text .dropdown-text-avgScore span{
  width: 36px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  color: #58ab7f;
  vertical-align:middle
}