#topBar {
  width:100%;
  height:40px;
  position:absolute;
  z-index:90;
  background: #58ab7f; /* Old browsers */
  background: -moz-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58ab7f), color-stop(100%,#359a64)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #58ab7f 0%, #359a64 100%); /* IE10+ */
  background: linear-gradient(to bottom, #58ab7f 0%, #359a64 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ab7f', endColorstr='#359a64',GradientType=0 ); /* IE6-9 */
  cursor:default;
}

#centerTopBar{
  width: 950px;
  height:100%; 
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

#logo {
  height:100%;
  width:75px;
  position:relative;
  padding:0;
  margin:0;
  background-image:url("../../res/topBar/logo.png");
  background-repeat:no-repeat;
  /*IE 8 does not support this, ask Lucas for a logo with finalized dimensions and delete it*/
  background-size: cover;
  display: inline-block;
  vertical-align:top;
  float:left;
}

#logo2 {
  height:100px;
  width:200px;
  position:relative;
  padding:0;
  margin:0;
  background-repeat:no-repeat;
  background-image: url("../../res/topBar/logo_large.png");
  /*IE 8 does not support this, ask Lucas for a logo with finalized dimensions and delete it*/
  background-size: cover;
  display: inline-block;
  vertical-align:top;
  float:left;
}

#subTitles{
  height:100%;
  width:auto;
  position:relative;
  float:left;
  list-style: none;
  vertical-align:top;
  line-height: 100%;
}

#subTitles > li{
  width:auto;
  height:37px;
  position:relative;
  margin-left:30px;
  /*this is resereved for possible background effects like :hover*/
  padding-top:3px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  line-height: 40px;
  /*line height here can not use 100% bacause beaseline is changed*/
  vertical-align: middle;
  color:#ffffff;
  font-weight:bold;
  font-size:17px;
}

.subTitle:hover{
  position:relative;
  background-color:#5dde8e;
}

.not-loggedIn{
  height:110px !important;  
}

.no-input-value {
  color:#aaaaaa;
  /*This class is used for default value (or instruction) in input field,
  need to be removed upon user input*/
}
.emptyBackground{
  background-image:none !important;

}

#login_username{
  float:left;
  height:25px;
  width:150px;
  position: relative;
  margin-left:100px;
  margin-top:5px;
  padding-left:30px;
  background-image: url('../../res/topBar/username.png');
  background-position: 8px center;
  background-size:13px 13px;
  background-repeat: no-repeat;
}


#login_password{
  float:left;
  height:25px;
  width:150px;
  margin-left:10px;
  margin-top:5px;
  padding-left:30px;
  background-image: url('../../res/topBar/password.png');
  background-position: 8px center;
  background-size:13px 13px;
  background-repeat: no-repeat;  
}
#login_button{
  float:left;
  height:24px;
  width:70px;
  position: relative;
  margin-left:12px;
  margin-top:5px;
  padding-top: 6px;
  padding-left: 10px;
  text-align: center;
  letter-spacing: 10px;
  background-color:#aaaaaa;
  font-size: 13px;

}
#signup_button{
  float:left;
  height:24px;
  width:140px;
  position: relative;
  margin-left:10px;
  margin-top:5px;
  padding-top: 6px;
  padding-left: 10px;
  letter-spacing: 10px;
  text-align: center;
  background-color:#aaaaaa;
  font-size: 13px;
}

#messages, #likes, #favorites{
  width:30px;
  height:30px;
  padding:5px;
  position:relative;
  float:left;
  background-repeat: no-repeat;
  background-position:center; 
}

#messages{
  background-image: url('../../res/topBar/messages.png');
}
#likes{
  background-image: url('../../res/topBar/likes.png');
}
#favorites{
  background-image: url('../../res/topBar/favorites.png');
}
#notifications{
  width:205px;
  height:40px;
  position:relative;
  float:left;
  margin-left:300px;
}

#profilePicture{
  width:50px;
  height:50px;
  border:5px solid #58ab7f;
  float:right;
  position:relative;
  background-color: #999999;
  background-image: url();
  box-shadow: 2px 2px 10px #888888;
  z-index:10;
}
#dropdowns{
  position:relative;
  float:right;
  width:325px;
}

#messageDropdown{
  width:115px;
  height:150px;
  background-color: rgb(255,255,255);
  border: 1px solid #000000;
}
#likeDropdown{
  margin-left:40px;
  width:115px;
  height:150px;
  background-color: rgb(255,255,255);
  border: 1px solid #000000;
}
#favoriteDropdown{
  margin-left:80px;
  width:115px;
  height:150px;
  background-color: rgb(255,255,255);
  border: 1px solid #000000;
}
#profileDropdown{
  margin-left:220px;
  margin-top:20px;
  width:60px;
  height:25px;
  background-color: rgb(255,255,255);
  border: 1px solid #000000;
}
#profileDropdown>.dropdownContent{
  width:50px;
}
.dropdownContent{
  height:19px;
  padding:3px 0 3px 10px;
  width:105px;
}

.dropdownContent:hover{
  background-color: rgb(236,223,177);
}
#logout{
  color:#3377ff;
}
#logout.dropdownContent{
  text-align:center;
  padding-left:0;
  width:60px;
}
.whiteBackground{
  background-color: #ffffff;
  border-width: 1px 1px 0 1px;
  width:29px !important;
  border-style:solid;
  border-color: #000000;
  z-index:10;
}