#popupBoxLocation {
	margin-top: 150px;
	height: 250px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.8);
	-moz-box-shadow: 0 0 30px 5px #111;
	-webkit-box-shadow: 0 0 30px 5px #111;
	box-shadow: 0 0 30px 5px #808080;
	padding-bottom: 10px;
}

#location-modal-closeButton {
	background: url("../../../res/datePicker/close.png");
	height:34px;
	width:34px;
	float:right;
}

#location-modal-titleContainer {
	height: 10%;
	width: 90%;
	padding-top: 20px;
	padding-left: 5%;
	color: white;
}

#location-modal-titleContainer div {
	background: url("../../../res/datePicker/universitypick.png");
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	height: 50px;
	width: 50px;
	opacity: 0.7;
	margin-left: 230px;
	margin-top: -10px;
}

#location-modal-titleContainer p {
	float: left;
	padding-top: 10px;
	font-size: 120%;
	padding-left: 5px;
	color: black;
	visibility: hidden;
}

#location-modal-provinceContainer {
	background-color: #FFFFFF;
	margin-left: 5%;
	height: 23%;
	width: 90%;
	overflow-y: auto;
	border-style: solid;
	border-width:1px;
	margin-top: 3%;
}

#location-modal-provinceContainer div {
    display: inline-block;
    margin-left: 5px;
   	margin-top: 5px;
	text-align: center;
}

#location-modal-provinceContainer div:hover {
	background-color: #B0B0B0;
	cursor: pointer;
	color: white;
	-webkit-transition: ease .1s;
}

.location-modal-province {
	width: 7%;
}

#location-modal-cityContainer {
	background-color: #FFFFFF;
	margin-left: 5%;
	margin-top: 2%;
	height: 25%;
	width: 90%;
	overflow-y: auto;
	border-style:solid;
	border-width:1px;
}

#location-modal-cityContainer div {
    display: inline-block;
    margin-left: 5px;
   	margin-top: 5px;
	text-align: center;
}

#location-modal-cityContainer div:hover {
	background-color: #B0B0B0;
	cursor: pointer;
	color: white;
	-webkit-transition: ease .1s;
}

.location-modal-city {
	width: 17%;
}

#location-modal-universityContainer {
	background-color: #FFFFFF;
	margin-left: 5%;
	margin-top: 1%;
	height: 37%;
	width: 90%;
	overflow-x: hidden; 
	overflow-y: auto;
	border-style:solid;
	border-width:1px;
}

#location-modal-universityContainer div {
    display: inline-block;
    margin-left: 5px;
   	margin-top: 3px;
	width: 24%;
}

#location-modal-universityContainer div:hover {
	background-color: #B0B0B0;
	cursor: pointer;
	color: white;
	-webkit-transition: ease .1s;
}

.location-modal-university {
	font-size: 80%;
	text-align: center;
}

.location-modal-entry {
	color: #808080;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}