<div id = 'centerTopBar'>
  <div id = 'logo'></div>
    <ul id = 'subTitles'>
      <li class = 'subTitle button navigate_main'>找事儿</li>
      <li class = 'subTitle button navigate_personal'>个人主页</li>
      <li class = 'subTitle button navigate_feedBack'>发布消息</li>
    </ul>
    <div id = 'personalNavContainer'>
      <ul>
        <li id = 'notifications'></li>
        <li id = 'letters'></li>
        <li id = 'favorites'></li>
      </ul>
      <div id = 'profilePicture'></div>

    </div>
    <div id = 'dropdowns'>
      <div id='notificationDropdown' class='dropdownBase'>
        <div class='dropdownTitle'>
          <div class='dropdownTitleText'>消息提示</div>
          <div class='dropdownTitleCheckAll'>查看全部</div>
        </div>
        <div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
        </div>
      </div>

      <div id='letterDropdown' class='dropdownBase'>
        <div class='dropdownTitle'>
          <div class='dropdownTitleText'>我的关注</div>
          <div class='dropdownTitleCheckAll'>查看全部</div>
        </div>
       <div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
        </div>
      </div>

      <div id='favoriteDropdown' class='dropdownBase'>
        <div class='dropdownTitle'>
          <div class='dropdownTitleText'>我的收藏</div>
          <div class='dropdownTitleCheckAll'>查看全部</div>
        </div>
        <div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
          <div id='showAllMessages' class='dropdownContent'>Sample</div>
        </div>
      </div>

      <div id='profileDropdown'>
        <div id='logout' class='dropdownContent'>退出</div>
      </div>
    </div>
  </div>