<div id = 'edit_requirement'>
  <form id='edit_info'>
    <div id='edit_myInfo'>
      <div id='edit_myGender'>
        <div class='edit_label'>我需要</div>
        <input name='gender' type='radio' value='male'/>男
        <input name='gender' type='radio' value='female'/>女
        <input name='gender' type='radio' value='both'/>无所谓
      </div>
      <div id='edit_myLocation'>
        <div class='edit_label'>我的地区在</div>
        <input name='location' type='text' />
      </div>
      <div id='edit_mySchool'>
        <div class='edit_label'>学校是</div>
        <input name='school' type='text' />
      </div>
      <div id='edit_myDetail'>
        <div class='edit_label'>其他信息</div>
        <textarea name='detail' type='text' ></textarea>
      </div>
    </div>
    <div class='publish_time_container_wrapper'>
      <div id='publish_time_container'>

      </div>
      <div id = 'publish_back' class='button'>
        放弃修改
      </div>
      <div id = 'publish_finish' class='button'>
        修改完成
      </div>
    </div>
  </form>
</div>